@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="#" name="keywords">
    <meta content="#" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="#" rel="icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link href="~/root/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/root/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/root/style.css" type="text/css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/root/base.css" rel="stylesheet">


    <title>@ViewData["Title"]</title>

</head>
<body>
    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid position-relative " style="margin-bottom: 90px; margin-right:auto;margin-left:auto;">
       <div class="container mt-5 pt-5">
          <div class="container text-center my-5 py-5">
            <h1 class="text-white mt-4 mb-4">Learn From Home</h1>
            <h1 class="text-white display-1 mb-5">Education Courses</h1>
          </div>
      </div>
   </div>
    <!-- Header End -->

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5" id="C2">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="~/root/img/pngtree-university-or-college-student-study-online-at-home-png-image_11996657.png" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                        <h1 class="display-4">First Choice For Online Education Anywhere</h1>
                    </div>
                    <p>Welcome to First Choice For Online Education Anywhere, your premier destination for high-quality online learning. We offer a diverse range of courses designed to cater to learners of all backgrounds and skill levels. Our platform provides flexibility, allowing you to study at your own pace, anytime and anywhere With expert instructors, interactive materials, and a supportive community, you’ll find everything you need to succeed in your educational journey. Whether you're looking to enhance your skills, explore new subjects, or advance your career, we’re here to help you achieve your goals.</p>
                    <div class="row pt-3 mx-0">
                        <div class="col-3 px-0">
                            <div class="bg-success text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">123</h1>
                                <h6 class="text-uppercase text-white">Available<span class="d-block">Subjects</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-primary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">1234</h1>
                                <h6 class="text-uppercase text-white">Online<span class="d-block">Courses</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-secondary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">123</h1>
                                <h6 class="text-uppercase text-white">Skilled<span class="d-block">Instructors</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-warning text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">1234</h1>
                                <h6 class="text-uppercase text-white">Happy<span class="d-block">Students</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Feature Start -->
    <div class="container-fluid bg-image" style="margin: 90px 0; background-size: cover;background-position: center;background-image: url('https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-115575.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-5 pt-5 pb-lg-5" id="C4">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Why Choose Us?</h6>
                        <h1 class="display-4">Why You Should Start Learning with Us?</h1>
                    </div>
                    <p class="mb-4 pb-2">At our platform, we believe in empowering learners to achieve their goals. Here’s why you should join us:</p>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-graduation-cap text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Skilled Instructors</h4>
                            <p>Our courses are taught by experienced professionals who are passionate about sharing their knowledge and skills.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-3">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-certificate text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>International Certificate</h4>
                            <p>Obtaining an International Certificate from our platform is a valuable step in advancing your career and enhancing your credibility in the global job market.</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-book-reader text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Online Classes</h4>
                            <p class="m-0">Our online classes provide a flexible and accessible learning experience tailored to meet the needs of modern learners.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="~/root/img/pngtree-university-or-college-student-study-online-at-home-png-image_11996659.png" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->

    <!-- Courses Start -->
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                    <h1 class="display-4" id="C3">Checkout New Releases Of Our Courses</h1>
                </div>
            </div>
        </div>

    <div id="courseCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#courseCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#courseCarousel" data-slide-to="1"></li>
            <li data-target="#courseCarousel" data-slide-to="2"></li>
            <li data-target="#courseCarousel" data-slide-to="3"></li>
            <li data-target="#courseCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/root/img/How-Programming-Languages-are-Changing-the-World.png" class="d-block w-100" alt="Course 1">
                <div class="carousel-caption d-none d-md-block" style="font-size: 24px;color: #ff5733;text-shadow: 1px 1px 2px #000;font-weight: bold;">

                </div>
            </div>
            <div class="carousel-item">
                <img src="~/root/img/Database-Management-System.jpeg" class="d-block w-100" alt="Course 2">
                <div class="carousel-caption d-none d-md-block" style="font-size: 24px;color: #ff5733;text-shadow: 1px 1px 2px #000;font-weight: bold;">

                </div>
            </div>
            <div class="carousel-item">
                    <img src="~/root/img/Anas_Meta-image-Template-BLOG-BLOG-3-1.png" class="d-block w-100" alt="Course 3">
                    <div class="carousel-caption d-none d-md-block" style="font-size: 24px;color: #ff5733;text-shadow: 1px 1px 2px #000;font-weight: bold;">
 
                </div>
            </div>
             <div class="carousel-item">
                  <img src="~/root/img/X5gFB1559764843.png" class="d-block w-100" alt="Course 4">
                    <div class="carousel-caption d-none d-md-block" style="font-size: 24px;color: #ff5733;text-shadow: 1px 1px 2px #000;font-weight: bold;">

                  </div>
             </div>
             <div class="carousel-item">
                    <img src="~/root/img/12.jpg" class="d-block w-100" alt="Course 5">
                    <div class="carousel-caption d-none d-md-block" style="font-size: 24px;color: #ff5733;text-shadow: 1px 1px 2px #000;font-weight: bold;">

                    </div>
             </div>
        </div>
        <a class="carousel-control-prev" href="#courseCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#courseCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  </div>
    <!-- Courses End -->


    <!-- Team Start -->

        <!-- Meet Our Instructors Section -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title position-relative mb-4">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Meet Our Instructors</h6>
                        <h1 class="display-4">Our Expert Team</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                <img src="~/root/img/team-2.jpg" class="img-fluid rounded-circle mb-3" alt="Instructor 1">
                <h5>James Anderson</h5>
                <p>James Anderson is a highly experienced and passionate instructor specializing in computer science and software development.</p>
                </div>
                <div class="col-lg-4 text-center">
                <img src="~/root/img/team-1.jpg" class="img-fluid rounded-circle mb-3" alt="Instructor 2">
                <h5>Emily Davis</h5>
                <p>Emily Davis is a dedicated and dynamic instructor with a strong background in marketing and business management.</p>
                </div>
                <div class="col-lg-4 text-center">
                <img src="~/root/img/team-4.jpg" class="img-fluid rounded-circle mb-3" alt="Instructor 3">
                <h5>Robert Johnson</h5>
                <p>Robert Johnson is an accomplished instructor with expertise in data science and artificial intelligence. With over 12 years of experience in both teaching and working on real-world AI projects.</p>
                </div>
            </div>
            <!-- Social Media Links -->
            <div class="text-center mt-4">
            <a class="mx-1 p-1" href="https://x.com/i/flow/login" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="mx-1 p-1" href="https://www.facebook.com/login/?locale=ar_AR" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-1 p-1" href="https://www.linkedin.com/login/ar" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="mx-1 p-1" href="https://www.instagram.com/accounts/login/?hl=ar" target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="mx-1 p-1" href="https://www.youtube.com/?hl=ar&gl=EG&app=desktop" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    
    <!-- Testimonial End -->


    <!-- Contact Start -->

    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid position-relative bg-dark text-white-50 py-5" style="margin-top: 90px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                        <h1 class="mt-n2 text-uppercase text-white"><i class="fa fa-book-reader mr-3"></i>Education</h1>
                    </a>
                    <p class="m-0">Welcome to our Education Hub, where learning knows no boundaries. Our mission is to empower students, educators, and lifelong learners by providing access to the resources, tools, and knowledge they need to succeed. Whether you're exploring new subjects, honing your skills, or preparing for your next academic challenge, we are here to support your journey. From interactive courses to personalized tutoring, our platform is designed to inspire curiosity and foster a passion for learning in a rapidly evolving world. Together, let's unlock your potential and shape the future.</p>
                </div>
                <div class="col-md-4 mb-5">
                    <h3 class="text-white mb-4">Get In Touch</h3>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="text-white mr-4" href="https://x.com/i/flow/login" target="_blank"><i class="fab fa-2x fa-twitter"></i></a>
                        <a class="text-white mr-4" href="https://www.facebook.com/login/?locale=ar_AR" target="_blank"><i class="fab fa-2x fa-facebook-f"></i></a>
                        <a class="text-white mr-4" href="https://www.linkedin.com/login/ar" target="_blank"><i class="fab fa-2x fa-linkedin-in"></i></a>
                        <a class="text-white" href="https://www.instagram.com/accounts/login/?hl=ar" target="_blank"><i class="fab fa-2x fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary rounded-0 btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

<script src="~/root/lib/easing/easing.min.js"></script>
<script src="~/root/lib/waypoints/waypoints.min.js"></script>
<script src="~/root/lib/counterup/counterup.min.js"></script>
<script src="~/root/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="~/root/js/main.js"></script>
<script src="~/root/script.js"></script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>